<div class="cont row">
  <div class="col-3">
    <aside class="side-nav" id="show-side-navigation1">
      <i
        class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg"
        data-close="show-side-navigation1"
      ></i>
      <div class="heading">
        <img
          src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
          alt=""
        />
        <div class="info">
          <h3><a>Mahmoud Altantawy</a></h3>
          <p>
            <a (click)="logout()">Log Out</a>
          </p>
        </div>
      </div>
      <div class="search">
        <input type="text" placeholder="Type here" /><i
          class="fa fa-search"
        ></i>
      </div>
      <ul class="categories">
        <li>
          <i class="fa fa-home fa-fw" aria-hidden="true"></i>
          <a routerLink="/admin">Profile</a>
        </li>
        <li>
          <i class="fa fa-home fa-fw" aria-hidden="true"></i>
          <a routerLink="/admin/posts">Posts</a>
        </li>
        <li><i class="fa fa-support fa-fw"></i><a> Subscribe us</a></li>
        <li><i class="fa fa-envelope fa-fw"></i><a> Contact us</a></li>
        <li><i class="fa fa-users fa-fw"></i><a> Our team</a></li>

        <li>
          <i class="fa fa-laptop fa-fw"></i
          ><a> About UI &amp; UX <span class="num succ">43</span></a>
        </li>
        <li><i class="fa fa-comments-o fa-fw"></i><a> Something else</a></li>
      </ul>
    </aside>
  </div>
  <div class="col-9">
    <div id="contents alert alert-danger">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <i class="pi pi-bars" style="font-size: 1.5em;"></i>
            </button>
            <a class="navbar-brand"
              >my<span class="main-color">Dashboard</span></a
            >
          </div>
          <div
            class="collapse navbar-collapse navbar-right"
            id="bs-example-navbar-collapse-1"
          >
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >My profile <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li>
                    <a><i class="fa fa-user-o fw"></i> My account</a>
                  </li>
                  <li>
                    <a><i class="fa fa-envelope-o fw"></i> My inbox</a>
                  </li>
                  <li>
                    <a><i class="fa fa-question-circle-o fw"></i> Help</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a><i class="fa fa-sign-out"></i> Log out</a>
                  </li>
                </ul>
              </li>
              <li>
                <a><i class="fa fa-comments"></i><span>23</span></a>
              </li>
              <li>
                <a><i class="fa fa-bell-o"></i><span>98</span></a>
              </li>
              <li>
                <a
                  ><i
                    data-show="show-side-navigation1"
                    class="fa fa-bars show-side-btn"
                  ></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
